.mainheader {
  text-align: center;
  width: 600px;
  margin: auto;
  background-color: #20315a;
  color: white;
}

.formcontainer,
.articleHeader,
.articlecontainer {
  width: 600px;
  margin: auto;
  margin-top: 20px;
}

.searchButton {
  margin-right: 10px;
}
