.jumbotron {
  text-align: center;
  margin: auto;
  background-color: #20315a;
  color: white;
}

.formcontainer,
.articleHeader,
.articlecontainer {
  margin: auto;
  margin-top: 20px;
}

.searchButton {
  margin-right: 10px;
}

.footer {
  text-align: center;
  height: 30px;
  background-color: rgb(247, 247, 247);
  padding: 4px;
  position: absolute;
  /* bottom: 0; */
  width: 100%;
}

.container {
  margin-bottom: 10px;
}
